@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #75e6da;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #189ab4;
  width: 85%;
  height: 500px;
  max-width: 500px;
  border-radius: 20px;
  padding: 20px 10px;
}
h1 {
  text-align: center;
  width: 90%;
  color: white;
  background-color: #05445e;
  padding: 10px 30px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.enter-key {
  color: white;
  border-radius: 10px;
  background-color: #1c1c24;
  padding: 5px 10px;
}
.search-box {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  width: 70%;
  border: 5px solid lime;
  background-color: #e6e4e8;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;
  position: relative;
}
.instructions {
  margin-top: 20px;
}
.meaning-container {
  display: none;
  text-align: center;
  width: 95%;
}
p {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  line-height: 30px;
  font-weight: 400;
  word-wrap: break-word;
}

.word {
  word-wrap: break-word;
  color: black;
  margin-left: 5px;
  padding: 5px 5px;
  background-color: #d4f1f4;
  border-radius: 10px;
}
.word,
.def {
  font-size: medium;
  font-weight: 300;
}
.icon {
  display: none;
  position: absolute;
  top: 17px;
  right: 17%;
  height: 30px;
  width: 30px;
  font-size: larger;
  z-index: 2;
  transition: all 300ms ease;
  color: #3c3f3fb7;
}
.icon:hover {
  transform: scale(1.2);
  color: #189ab4;
}
.icon:active {
  transform: scale(0.98);
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 55px;
}
